Repository wechaty/docusaurus, pull requests merged in 2021-08, with the labels that each got.

#950 Add Troubleshooting sub-section of the Explanation section
  docusaurus/docs/explainations/troubleshooting.md
  docusaurus/docs/explainations/troubleshooting.mdx
  docusaurus/static/img/docs/troubleshooting.webp
Labels: GSoD 2021, explanation, ready to merge

#904 Main concepts in Wechaty
  docusaurus/docs/main-concepts-in-wechaty.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, introduction, ready to merge

#899 Wechaty getting started sub-section of the Introduction section
  docusaurus/docs/getting-started-with-wechaty.mdx
  docusaurus/sidebars.ts
Labels: GSoD 2021, introduction, ready to merge

#1126 Add Redux: Ducks proposal style docs
  docusaurus/docs/using-redux-with-wechaty/ducks-proposal.md
  docusaurus/docs/using-redux-with-wechaty/ducks-proposal.mdx
  docusaurus/docs/using-redux-with-wechaty/overview.md
Labels: GSoD 2021, tutorials

#1178 Add tutorial for debugging Node.js Apps with VS Code
  jekyll/_posts/2021-08-08-vscode-debug-nodejs.md
  jekyll/assets/2021/08-vscode-debug-nodejs/debug.webp
  jekyll/assets/2021/08-vscode-debug-nodejs/error.webp
Labels: tutorials

#1167 review: Season of Docs Seventh post
  jekyll/_posts/2021-08-01-gsod-2021-seventh-meeting.md
  jekyll/assets/2021/08-gsod-2021-seventh-meeting/gsod-seventh-meeting.webp
Labels: GSoD 2021, volunteering

#1142 Second month evaluation post
  jekyll/_posts/2021-07-23-gsod-2021-second-month-evaluation.md
  jekyll/assets/2021/07-gsod-2021-second-month-evaluation/gsod-2021.webp
Labels: GSoD 2021, volunteering

#1105 Fixed gitpod and google cloud shell links
  docusaurus/docs/getting-started/overview.mdx
Labels: GSoD 2021, tutorials

#1161 Fixed some links in Tutorials overview page
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#1165 Added tutorial for using vanilla-redux with wechaty
  docusaurus/docs/using-redux-with-wechaty/overview.md
  docusaurus/docs/using-redux-with-wechaty/vannila-redux.md
  docusaurus/docs/using-redux-with-wechaty/vannila-redux.mdx
Labels: GSoD 2021, tutorials

#1160 Mid Term Blog: Tutorials
  jekyll/_posts/2021-08-03-gsod-2021-mid-term-blog-tutorials.md
  jekyll/assets/2021/08-gsod-2021-mid-term-blog-tutorials/mid-term-blog-tutorials.webp
  jekyll/assets/2021/08-gsod-2021-mid-term-blog-tutorials/tutorials-example.webp
  jekyll/assets/2021/08-gsod-2021-mid-term-blog-tutorials/tutorials.webp
Labels: GSoD 2021, tutorials

#1131 Created tutorial for room-bot
  docusaurus/docs/examples/advanced/room-bot.md
  docusaurus/docs/examples/advanced/room-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#1104 Updated world's shortest chatbot page under examples
  docusaurus/docs/examples/basic/the-worlds-shortest-chatbot-code-in-6-lines.md
  docusaurus/docs/examples/basic/the-worlds-shortest-chatbot-code-in-6-lines.mdx
  docusaurus/docs/examples/overview.md
  docusaurus/docs/tutorials/overview.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, tutorials

#936 Wechaty Chatbot testing subsection of Explanation section
  docusaurus/docs/explainations/testing.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, explanation, ready to merge

#1204 Add tutorial for Ctrl C Signal Bot
  docusaurus/docs/examples/professional/ctrl-c-signal-bot.md
  docusaurus/docs/examples/professional/ctrl-c-signal-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#1138 Update the Friend bot page
  docusaurus/docs/examples/advanced/friend-bot.md
  docusaurus/docs/examples/advanced/friend-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#1048 GSod guide
  jekyll/_posts/2021-07-10-google-season-of-docs-guide.md
  jekyll/assets/2021/07-google-season-of-docs-guide/guide.webp
Labels: GSoD 2021

#1155 Add tutorial for Media File Bot
  docusaurus/docs/examples/advanced/media-file-bot.md
  docusaurus/docs/examples/advanced/media-file-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#900 Who is using wechaty subsection of the introduction section
  docusaurus/docs/who-is-using-wechaty.md
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/companies-using-wechaty.webp
  docusaurus/static/img/docs/wechaty-contributors.webp
  docusaurus/static/img/docs/wechaty-users.webp
Labels: GSoD 2021, introduction, ready to merge

#962 Added running locally instructions on the main readme file
  README.md
Labels: GSoD 2021, how to guide

#1226 Mid Term blog of OSPP 2021: Wechaty Piggy Bro
  jekyll/_posts/2021-08-26-ospp-mid-term-wechaty-piggy-bro.md
  jekyll/assets/2021/08-ospp-mid-term-wechaty-piggy-bro/mid-term-ppt.pdf
  jekyll/assets/2021/08-ospp-mid-term-wechaty-piggy-bro/piggy-bro-logo.webp
Labels: ospp

#1237 submit mid term 5g chatbot
  jekyll/_posts/2021-08-30-ospp-mid-term-5g-chatbot-puppet.md
  jekyll/assets/2021/08-ospp-mid-term-5g-chatbot-puppet/5g-chatbot-ppt.pdf
  jekyll/assets/2021/08-ospp-mid-term-5g-chatbot-puppet/walnut-wechaty.webp
Labels: ospp
