Repository wechaty/docusaurus, pull requests merged in 2021-11, with the labels that each got.

#1384 Fix typo in the footer section
  docusaurus/src/theme/Footer.tsx
Labels: GSoD 2021

#1389 Add final report
  jekyll/_posts/2021-11-07-gsod-2021-improve-introduction-and-explanation-project-joint-report.md
  jekyll/assets/2021/11-gsod-2021-improve-introduction-and-explanation-project-joint-report/introduction-and-explanation.webp
Labels: GSoD 2021, introduction, explanation

#1397 GSoD 2021 Final Blog Post Landing Page Team
  jekyll/_posts/2021-11-16-wechaty-landing-page-final-blog.md
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/features-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/footer-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/gsod-reconstruct-lp.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/hero-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/honors-and-awards-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/lets-get-started-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/sponsors-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/talks-section.webp
  jekyll/assets/2021/11-wechaty-landing-page-final-blog/voice-of-developers.webp
Labels: GSoD 2021, Landing Page

#1390 Fix duplicate routes error
  docusaurus/docs/howto/file-box-two.md
  docusaurus/docs/specs/gateway.mdx
Labels: GSoD 2021

#981 Friend request
  docusaurus/docs/howto/friendship.mdx
  docusaurus/docs/howto/overview.mdx
Labels: GSoD 2021, how to guide

#1101 Deploy in Lark
  docusaurus/docs/howto/deploy-lark.mdx
  docusaurus/docs/howto/overview.mdx
  docusaurus/static/img/docs/howto/IM_platform/deploy-lark.webp
  docusaurus/static/img/docs/howto/deploy-lark/deploy-lark.webp
Labels: GSoD 2021, how to guide
