Repository wechaty/docusaurus, pull requests merged in 2021-07, with the labels that each got.

#868 Update the Tutorials timeline for 17 weeks
  jekyll/_posts/2021-05-11-gsod-2021-team-proposal-tutorials.md
Labels: GSoD 2021, ready to merge, tutorials

#888 Running locally (Ding Dong bot)
  docusaurus/docs/examples/basic/ding-dong-bot.md
  docusaurus/docs/getting-started/hard-way.mdx
  docusaurus/docs/getting-started/running-locally.mdx
  docusaurus/docs/overview.mdx
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/getting-started/running-locally/bot-demo.png
  docusaurus/static/img/docs/getting-started/running-locally/hard-way.png
Labels: GSoD 2021, tutorials

#905 Add installation page under tutorials
  docusaurus/docs/tutorials/installation.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, change requested, tutorials

#934 Updated tutorial overview as per suggestion with a new PR
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#969 added tutorial for qr-code-terminal plugin
  docusaurus/docs/using-plugin-with-wechaty/qr-code-terminal.mdx
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/qrcode-bot/output.png
Labels: GSoD 2021, tutorials

#923 Running ding dong bot on gitpod
  docusaurus/docs/getting-started/running-on-gitpod.md
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/create-workspace.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/ding-dong-output.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/gitpod-loaded.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/gitpod-signin.png
Labels: GSoD 2021, tutorials

#989 Using Redux with Wechaty overview
  docusaurus/docs/using-redux-with-wechaty/ducks-proposal.md
  docusaurus/docs/using-redux-with-wechaty/overview.md
  docusaurus/docs/using-redux-with-wechaty/vannila-redux.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, tutorials

#957 Update Wechaty Plugin Overview page under Tutorials
  docusaurus/docs/using-plugin-with-wechaty/event-logger.md
  docusaurus/docs/using-plugin-with-wechaty/heartbeat.md
  docusaurus/docs/using-plugin-with-wechaty/overview.mdx
  docusaurus/docs/using-plugin-with-wechaty/qr-code-terminal.md
  docusaurus/sidebars.ts
Labels: GSoD 2021, tutorials

#882 Improve and update Vorpal bot steps
  docusaurus/docs/tutorials/overview.md
  docusaurus/docs/tutorials/using-vorpal-with-wechaty.mdx
  docusaurus/docs/using-plugin-with-wechaty/qr-code-terminal.md
Labels: GSoD 2021, ready to merge, tutorials

#922 Add Google Cloud Shell tutorial
  docusaurus/docs/quick-start/running-on-google-cloud-shell.md
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/quick-start/cloud_shell_editor.png
  docusaurus/static/img/docs/quick-start/trust_the_repo.png
  docusaurus/static/img/docs/quick-start/wait_for_provisioning_to_complete.png
Labels: GSoD 2021, ready to merge, tutorials

#935 Getting started overview
  docusaurus/docs/getting-started/overview.mdx
  jekyll/_contributors/simplepad.md
  jekyll/_posts/2021-06-17-puppet-simplepad-hello.md
  jekyll/assets/2021/06-puppet-simplepad-hello/logo.png
  jekyll/assets/2021/06-puppet-simplepad-hello/logo.webp
  jekyll/assets/2021/06-puppet-simplepad-hello/process.png
  jekyll/assets/2021/06-puppet-simplepad-hello/process.webp
  jekyll/assets/contributors/simplepad/avatar.png
  jekyll/assets/contributors/simplepad/avatar.webp
Labels: GSoD 2021, tutorials

#963 Add tutorial for EventLogger plugin
  docusaurus/docs/using-plugin-with-wechaty/event-logger.md
  docusaurus/docs/using-plugin-with-wechaty/event-logger.mdx
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/using-plugin-with-wechaty/event-logger/event-logger-output.webp
Labels: GSoD 2021, tutorials

#967 Monthly evaluation post
  jekyll/_posts/2021-06-22-gsod-2021-first-month-evaluation.md
  jekyll/assets/2021/06-gsod-2021-first-month-evaluation/gsod-2021.webp
Labels: GSoD 2021, volunteering

#1055 Fifth post
  jekyll/_posts/2021-07-06-gsod-2021-fifth-meeting.md
  jekyll/assets/2021/07-gsod-2021-fifth-meeting/gsod-fifth-meeting.webp
  package.json
Labels: GSoD 2021, volunteering

#1080 OSPP2021: Wechaty Blessed CLI
  jekyll/_contributors/chinggg.md
  jekyll/_posts/2021-07-14-ospp-plan-blessed-cli.md
  jekyll/assets/2021/07-ospp-plan-blessed-cli/wechaty-cli-diagram.webp
  jekyll/assets/2021/07-ospp-plan-blessed-cli/wechaty-cli-logo.webp
  jekyll/assets/contributors/chinggg/avatar.webp
Labels: ospp, wait for mentor

#1074 OSPP 2021-期初报告-基于 Matrix AppService Wechaty 项目的用户、群与消息等基础功能的完善
  jekyll/_contributors/545641826.md
  jekyll/_contributors/zrn-fight.md
  jekyll/_posts/2021-07-14-ospp-plan-wechaty-matrix.md
  jekyll/assets/2021/07-ospp-plan-wechaty-matrix/wechaty-matrix-plan.webp
  jekyll/assets/contributors/545641826/545641826.webp
  jekyll/assets/contributors/zrn-fight/zrn-fight.webp
Labels: ospp, wait for mentor

#956 [GSoD 2021] Added OpenAPI learning resources
  docusaurus/docs/polyglot/openapi/overview.md
Labels: GSoD 2021, improve the grpc and openapi ecosystem, ready to merge

#1069 OSPP 2021: python puppet itchat
  jekyll/_contributors/lyleshaw.md
  jekyll/_posts/2021-07-13-ospp-plan-wechaty-itchat-puppet.md
  jekyll/assets/2021/07-ospp-plan-wechaty-itchat-puppet/python-wechaty-puppet-itchat.webp
  jekyll/assets/contributors/lyleshaw/avatar.png
  jekyll/assets/contributors/lyleshaw/avatar.webp
Labels: ospp, wait for mentor

#1049 Fix sidebar of tutorials
  docusaurus/docs/quick-start/running-on-gitpod.md
  docusaurus/docs/quick-start/running-on-google-cloud-shell.md
  docusaurus/sidebars.ts
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/create-workspace.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/ding-dong-output.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/gitpod-loaded.png
  docusaurus/static/img/docs/getting-started/quick-start/gitpod/gitpod-signin.png
  docusaurus/static/img/docs/quick-start/running-on-gitpod/create-workspace.webp
  docusaurus/static/img/docs/quick-start/running-on-gitpod/ding-dong-output.webp
  docusaurus/static/img/docs/quick-start/running-on-gitpod/gitpod-loaded.webp
  docusaurus/static/img/docs/quick-start/running-on-gitpod/gitpod-signin.webp
  docusaurus/static/img/docs/quick-start/running-on-google-cloud-shell/cloud_shell_editor.webp
  docusaurus/static/img/docs/quick-start/running-on-google-cloud-shell/trust_the_repo.webp
  docusaurus/static/img/docs/quick-start/running-on-google-cloud-shell/wait_for_provisioning_to_complete.webp
Labels: GSoD 2021, tutorials

#870 Overview sub-section of the Introduction section
  docusaurus/docs/overview.mdx
Labels: GSoD 2021, introduction

#1078 OSPP 2021: Wechaty Piggy Bro
  jekyll/_contributors/reikohaku.md
  jekyll/_posts/2021-07-13-ospp-plan-wechaty-piggy-bro.md
  jekyll/assets/2021/07-ospp-plan-wechaty-piggy-bro/wechaty-logo.webp
  jekyll/assets/contributors/reikohaku/avatar.webp
Labels: ospp, wait for mentor

#933 Week-4 added the Wechaty environment variables
  docusaurus/docs/specs/wechaty.md
Labels: GSoD 2021, ready to merge, references

#1109 OSPP 2021:Wechaty-Puppet-Official-Account
  jekyll/_contributors/zzzyer.md
  jekyll/_posts/2021-07-17-ospp-plan-wechaty-puppet-oa.md
  jekyll/assets/2021/07-ospp-plan-wechaty-puppet-oa/wechaty-puppet-official-account.webp
  jekyll/assets/contributors/zzzyer/avatar.webp
Labels: ospp, wait for mentor

#1130 Sixth post
  jekyll/_posts/2021-07-18-gsod-2021-sixth-meeting.md
  jekyll/assets/2021/07-gsod-2021-sixth-meeting/gsod-sixth-meeting.webp
Labels: GSoD 2021, volunteering

#1103 Refactor ding dong bot under examples
  docusaurus/docs/examples/basic/ding-dong-bot.md
Labels: GSoD 2021, tutorials

#1085 OSPP 2021: Wechaty Lark Puppet
  jekyll/_contributors/remember00000.md
  jekyll/_posts/2021-07-14-ospp-plan-wechaty-puppet-lark.md
  jekyll/assets/2021/07-ospp-plan-wechaty-puppet-lark/wechaty-lark.webp
  jekyll/assets/contributors/remember00000/avatar.webp
Labels: ospp, wait for mentor

#1134 Tutorial for examples/advanced/busy-bot
  docusaurus/docs/examples/advanced/busy-bot.md
  docusaurus/docs/examples/advanced/busy-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials

#1042 Update tutorials running locally page
  docusaurus/docs/getting-started/running-locally.mdx
Labels: GSoD 2021, tutorials

#977 Architecture subsection of Explanation section
  docusaurus/docs/explainations/architecture.md
Labels: GSoD 2021, explanation, ready to merge

#1090 OSPP 2021:开发基于微信实现微俱乐部会员&活动管理的微信小程序
  jekyll/_contributors/mangguo188.md
  jekyll/_posts/2021-07-15-ospp-plan-wechaty-club-managment.md
  jekyll/assets/2021/07-ospp-plan-wechaty-club-managment/rare-book.webp
  jekyll/assets/contributors/mangguo188/avatar.webp
Labels: ospp, wait for mentor

#1076 Add Starter Bot under Examples: Basic
  docusaurus/docs/examples/basic/starter-bot.mdx
  docusaurus/docs/using-plugin-with-wechaty/event-logger.mdx
  docusaurus/docs/using-plugin-with-wechaty/heartbeat.mdx
  docusaurus/docs/using-plugin-with-wechaty/qr-code-terminal.mdx
  docusaurus/sidebars.ts
Labels: GSoD 2021, tutorials

#1099 Improve the Contact Bot page
  docusaurus/docs/examples/basic/contact-bot.md
  docusaurus/docs/examples/basic/contact-bot.mdx
  docusaurus/docs/tutorials/overview.md
Labels: GSoD 2021, tutorials
